<footer class="d-flex py-3 mt-auto">
  <div id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div id="footer-copyrights">
                    <p>Copyrights 2021 All Rights Reserved by E-commerce(Amazon-clone) Inc.</p>
                </div>

            </div>
        </div>
    </div>
</div>
</footer>
